ACESimBase/Resources/Settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ACESim">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="parentSettingsFile">
                    <xs:complexType>
                        <xs:attribute name="fileName" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="evolutionSettingsAll">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="evolutionSettings">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="setting">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="setting">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence minOccurs="0">
                                                                <xs:element maxOccurs="unbounded" name="setting">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" name="setting">
                                                                                <xs:complexType mixed="true">
                                                                                    <xs:sequence minOccurs="0">
                                                                                        <xs:element maxOccurs="unbounded" name="setting">
                                                                                            <xs:complexType mixed="true">
                                                                                                <xs:sequence minOccurs="0">
                                                                                                    <xs:element maxOccurs="unbounded" name="setting">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="unbounded" name="setting">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:simpleContent>
                                                                                                                            <xs:extension base="xs:unsignedByte">
                                                                                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                                                <xs:attribute name="type" type="xs:string" use="required" />
                                                                                                                            </xs:extension>
                                                                                                                        </xs:simpleContent>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                <xs:attribute name="type" type="xs:string" use="required" />
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                                                    <xs:attribute name="type" type="xs:string" use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                        <xs:attribute name="type" type="xs:string" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="type" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="gameDefinitionsAll">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="gameDefinition">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="setting">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="setting">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="setting">
                                                                    <xs:complexType mixed="true">
                                                                        <xs:sequence minOccurs="0">
                                                                            <xs:element maxOccurs="unbounded" name="setting">
                                                                                <xs:complexType mixed="true">
                                                                                    <xs:sequence minOccurs="0">
                                                                                        <xs:element maxOccurs="unbounded" name="setting">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="unbounded" name="setting">
                                                                                                        <xs:complexType>
                                                                                                            <xs:simpleContent>
                                                                                                                <xs:extension base="xs:decimal">
                                                                                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                                    <xs:attribute name="type" type="xs:string" use="required" />
                                                                                                                </xs:extension>
                                                                                                            </xs:simpleContent>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                <xs:attribute name="type" type="xs:string" use="required" />
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                                                    <xs:attribute name="type" type="xs:string" use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                        <xs:attribute name="type" type="xs:string" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="type" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="simulationSettingsAll">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="simulationSettings">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="setting">
                                            <xs:complexType mixed="true">
                                                <xs:sequence minOccurs="0">
                                                    <xs:element maxOccurs="unbounded" name="setting">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence minOccurs="0">
                                                                <xs:element maxOccurs="unbounded" name="setting">
                                                                    <xs:complexType mixed="true">
                                                                        <xs:sequence minOccurs="0">
                                                                            <xs:element maxOccurs="unbounded" name="setting">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:unsignedByte">
                                                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                        <xs:attribute name="type" type="xs:string" use="required" />
                                                                        <xs:attribute name="subtype" type="xs:string" use="optional" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                            <xs:attribute name="variableName" type="xs:string" use="optional" />
                                                            <xs:attribute name="subtype" type="xs:string" use="optional" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="type" type="xs:string" use="required" />
                                                <xs:attribute name="subtype" type="xs:string" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="simulationName" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="rowOrColGroup">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="rowOrColInfo">
                                <xs:complexType mixed="true">
                                    <xs:sequence minOccurs="0">
                                        <xs:element maxOccurs="unbounded" name="filter">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="variableName" type="xs:string" />
                                                    <xs:element name="operation" type="xs:string" />
                                                    <xs:element name="value" type="xs:decimal" />
                                                </xs:sequence>
                                                <xs:attribute name="type" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="statistic" type="xs:string" use="optional" />
                                    <xs:attribute name="variableName" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="rowOrColInfoGenerator">
                                <xs:complexType mixed="true">
                                    <xs:sequence minOccurs="0">
                                        <xs:element maxOccurs="unbounded" name="range" type="xs:unsignedShort" />
                                    </xs:sequence>
                                    <xs:attribute name="filterVariableName" type="xs:string" use="required" />
                                    <xs:attribute name="rowOrColNamePrefix" type="xs:string" use="required" />
                                    <xs:attribute name="outputVariableName" type="xs:string" use="optional" />
                                    <xs:attribute name="statistic" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="commandSetsAll">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="commandSet">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="multipartCommand">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" name="evolveCommand">
                                                        <xs:complexType>
                                                            <xs:attribute name="evolutionSettingsName" type="xs:string" use="required" />
                                                            <xs:attribute name="StoreStrategiesFile" type="xs:string" use="required" />
                                                            <xs:attribute name="evolveOnlyIfNecessary" type="xs:boolean" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="playCommand">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="changeSimulationSettings">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="setting">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:unsignedByte">
                                                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="changeSimulationSettingsGenerator">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="changeSimulationSettings">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="setting">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="unbounded" name="setting">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="unbounded" name="setting">
                                                                                                                    <xs:complexType mixed="true">
                                                                                                                        <xs:sequence minOccurs="0">
                                                                                                                            <xs:element maxOccurs="unbounded" name="setting">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:simpleContent>
                                                                                                                                        <xs:extension base="xs:unsignedByte">
                                                                                                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                                                                                                        </xs:extension>
                                                                                                                                    </xs:simpleContent>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                                        <xs:attribute name="type" type="xs:string" use="required" />
                                                                                                                        <xs:attribute name="subtype" type="xs:string" use="optional" />
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                                                                            <xs:attribute name="subtype" type="xs:string" use="required" />
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                                                <xs:attribute name="type" type="xs:string" use="required" />
                                                                                                <xs:attribute name="subtype" type="xs:string" use="required" />
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="simulationSettingName" type="xs:string" use="required" />
                                                                        <xs:attribute name="numericType" type="xs:string" use="required" />
                                                                        <xs:attribute name="startingValue" type="xs:unsignedByte" use="required" />
                                                                        <xs:attribute name="increment" type="xs:unsignedByte" use="required" />
                                                                        <xs:attribute name="numValues" type="xs:unsignedByte" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="numberIterations" type="xs:unsignedByte" use="required" />
                                                            <xs:attribute name="StoreStrategiesFile" type="xs:string" use="required" />
                                                            <xs:attribute name="storeIterationResultsFile" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="reportCommand">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="rowsGroup">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="colsGroup">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="name" type="xs:string" use="required" />
                                                            <xs:attribute name="storeIterationResultsFile" type="xs:string" use="required" />
                                                            <xs:attribute name="storeReportResultsFile" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="simulationSettingsName" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="executeCommandList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="executeCommandSet">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>